<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <div class="contenedor">
        <%- include ("../includes/header") %>
        <main id="main_edit">
            <form action="/save" method="POST" id="edit-form" enctype="multipart/form-data">
                <p class="title_edit">Crear nueva camiseta</p>
                <fieldset>
                    <label for="precio" class="titulo">Precio:</label>
                    <input type="number" name="precio" id="precio" value="" class="border width">
                </fieldset>
                <fieldset>
                    <label for="descuento" class="titulo">Descuento:</label>
                    <input type="number" name="descuento" id="descuento" value="" class="border width">
                </fieldset>
                <fieldset>
                    <label for="equipo" class="titulo">Equipo:</label>
                    <select name="equipo" id="equipo" required>
                            <option value="" selected>Elegí el equipo:</option>
                        <% equipos.forEach(equipo => { %>
                            <option value="<%= equipo.id %>"> <%= equipo.equipo %></option>
                        <% }) %>
                    </select>
                </fieldset>
                <fieldset>
                    <label for="colors" class="titulo">Colors:</label>
                    <select name="colors" id="colors" required>
                        <option value="" selected>Elegí el color:</option>
                        <% colors.forEach(color => { %>
                            <option value="<%= color.id %>"><%= color.color %></option>
                        <% }) %>
                    </select>
                </fieldset>
                <fieldset>
                    <label for="jugador" class="titulo">Jugador:</label>
                    <input type="text" name="jugador" id="jugador" value="" class="border width">
                </fieldset>
                <fieldset>
                    <label for="numero" class="titulo">Numero de camiseta:</label>
                    <input type="numbre" name="numero" id="numero" value="" class="border width">
                </fieldset>
                <fieldset>
                    <label for="frente" class="titulo">Imagen de frente:</label>
                    <input class="margin_radio width" type="file" name="frente" id="frente" >
                </fieldset>
                <fieldset>
                    <label for="espalda" class="titulo">Imagen de espalda:</label>
                    <input class="margin_radio width" type="file" name="espalda" id="espalda">
                </fieldset>
                <fieldset>
                    <label for="destacado" class="titulo">Es destacado?</label>
                    <select name="destacado" id="destacado">
                        <option value="destacado" >Destacado</option>
                        <option value="noDestacado" selected>No destacado</option> 
                    </select>
                </fieldset>
                <fieldset >
                    <label for="Talle" class="titulo">Talles disponibles:</label>
                        <div id="radio">         
                        <% talles.forEach(talle => { %>
                                <div class="flex margin_radio">
                                    <label for="<%= talle.id %>"><%= talle.talle %></label>
                                    <input type="checkbox" name="talles" id="<%= talle.id %>" value="<%= talle.id %>" >
                                </div>
                        <% }) %>
                    </div>
                </fieldset>  
                <fieldset>
                    <label for="descripcion1" class="titulo">Descripción 1</label>
                    <textarea type="text" name="descripciones" id="descripcion1" ></textarea>
                </fieldset>
                <fieldset>
                    <label for="descripcion2" class="titulo">Descripción 2</label>
                    <textarea type="text" name="descripciones" id="descripcion2" ></textarea>
                </fieldset>
                <fieldset id="button_flex">
                    <button type="submit" id="submit">Send</button>
                </fieldset>
                </form> 
        </main>
        <%- include ("../includes/footer") %>
    </div>
</body>
</html>
