<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <div class="contenedor">
        <%- include ("../includes/header") %>
        <main id="main_edit">
            <form action="/update/<%= product.id %>?_method=PUT" method="POST" id="editForm" enctype="multipart/form-data">
                <p class="title_edit">Editar camiseta de <%= product.jugador %> :</p>
                <fieldset>
                    <label for="precio" class="titulo">Precio:</label>
                    <input type="number" name="precio" id="precio" value="<%= locals.oldData ? oldData.precio : product.precio  %>"  class="border width">
                    <% if (locals.errors && errors.precio) { %>
                        <p class="error"> 
                            <%= errors.precio.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset>
                    <label for="descuento" class="titulo">Descuento:</label>
                    <input type="number" name="descuento" id="descuento"  value="<%= locals.oldData ? oldData.descuento : product.descuento %>" class="border width">
                    <% if (locals.errors && errors.descuento) { %>
                        <p class="error"> 
                            <%= errors.descuento.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset>
                    <label for="equipo" class="titulo">Equipo:</label>
                    <input type="text" id="equipo" name="equipo" value="<%= locals.oldData ? oldData.equipo : product.equipo %>" class="border width">
                    <% if (locals.errors && errors.equipo) { %>
                        <p class="error"> 
                            <%= errors.equipo.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset>
                    <label for="colors" class="titulo">Colors:</label>
                    <select name="colors" id="colors" >
                        <% if (locals.oldData && oldData.colors) { %>
                            <option value="<%= oldData.colors %> " selected>Elegí un color:</option>
                        <% } else { %>
                            <option value="" selected>Elegí un color:</option>
                        <% } %>
                        <% colors.forEach(color => { %>
                            <option value="<%= color.id %>"><%= color.nombre %></option>
                        <% }) %>
                    </select>
                    <% if (locals.errors && errors.colors) { %>
                        <p class="error"> 
                            <%= errors.colors.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset>
                    <label for="jugador" class="titulo">Jugador:</label>
                    <input type="text" name="jugador" id="jugador" value="<%= locals.oldData ? oldData.jugador : product.jugador %>" class="border width">
                    <% if (locals.errors && errors.jugador) { %>
                        <p class="error"> 
                            <%= errors.jugador.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset>
                    <label for="numeroCamiseta" class="titulo">Numero de camiseta:</label>
                    <input type="numbre" name="numeroCamiseta" id="numeroCamiseta" value="<%= locals.oldData ? oldData.numeroCamiseta : product.numero_camiseta %>" class="border width">
                    <% if (locals.errors && errors.numeroCamiseta) { %>
                        <p class="error"> 
                            <%= errors.numeroCamiseta.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset>
                    <label for="frente" class="titulo">Imagen de frente:</label>
                    <input class="margin_radio width" type="file" name="frente" id="frente">
                    <% if (locals.errors && errors.frente) { %>
                        <p class="error"> 
                            <%= errors.frente.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset>
                    <label for="espalda" class="titulo">Imagen de espalda:</label>
                    <input class="margin_radio width" type="file" name="espalda" id="espalda">
                    <% if (locals.errors && errors.espalda) { %>
                        <p class="error"> 
                            <%= errors.espalda.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset>
                    <label for="destacado" class="titulo">Es destacado?</label>
                    <select name="destacado" id="destacado">
                        <% if (product.destacado == 1 || product.destacado == "1") { %>
                            <option value=1 selected>true</option>
                            <option value=0>false</option>
                        <% } else { %> 
                            <option value=1 >true</option>
                            <option value=0 selected>false</option>
                        <% } %> 
                    </select>
                    <% if (locals.errors && errors.talles) { %>
                        <p class="error"> 
                            <%= errors.talles.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset >
                    <label for="Talle" class="titulo">Talles disponibles:</label>
                        <div id="radio">         
                        <% talles.forEach(talle => { %>
                                <div class="flex margin_radio">
                                    <label for="<%= talle.id %>"><%= talle.nombre %></label>
                                    <input type="checkbox" name="talles" id="<%= talle.id %>" value="<%= talle.id %>" >
                                </div>
                        <% }) %>
                    </div>
                    <% if (locals.errors && errors.talles) { %>
                        <p class="error"> 
                            <%= errors.talles.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset>
                    <label for="descripcion" class="titulo">Descripción</label>
                    <textarea type="text" name="descripcion" id="descripcion" value="<%= locals.oldData ? oldData.descripcion : product.descripcion %>"> <%= locals.oldData ? oldData.descripcion : product.descripcion %></textarea>
                </fieldset>
                <fieldset id="button_flex">
                    <button type="submit" id="submit_create">Send</button>
                </fieldset>
                </form> 
        </main>
        <%- include ("../includes/footer") %>
    </div>
</body>
</html>

