<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main id="main_tienda">
        <p id="titulo_Compras">MIS COMPRAS:</p>
        <div id="articulos_promocion">
            <% compras.forEach(compra => { %>
                <article class="articulo_destacado">
                    <section class="flex">
                        <a href="/productDetail/<%= compra.productoId.id %> ">
                            <figure id="figure_ventas">
                                <img class="imagen_promocion" src="/uploads/<%= compra.productoId.imagenFrente %>" alt="">
                            </figure>
                        </a>
                        <div id="contenedor_descripciones">
                            <p class="descripcion"><span>Camiseta: </span> <%= compra.productoId.jugador %>-<%= compra.productoId.equipos.equipo %></p>
                            <p class="descripcion"><span>Precio: </span> $<%= compra.PrecioTotal %>(Cant. de camisetas: <%= compra.cantidad %>) </p>
                            <p class="descripcion"><span>Cliente: </span> <%= compra.nombre %> <%= compra.apellido %> </p>
                            <p class="descripcion"><span>Forma de pago: </span> <%= compra.metododepago %></p>
                            <p class="descripcion"><span>Direccion: </span> <%= compra.direccion %>-<%= compra.localidad %>(CP: <%= compra.codigopostal %>)</p>
                            <div class="flex center">
                                <p class="descripcion margin_top"><span>Estado: </span> <%= compra.estadoProducto %></p>
                            <% if (compra.estadoProducto == "Finalizado") { %>
                                <i class="fas fa-check tic_compras"> </i>
                            <% } else if(compra.estadoProducto == "Cancelado") { %>
                                <i class="fas fa-times cancel_compras"> </i>
                            <% } else if(compra.estadoProducto == "Confirmado") { %>
                                <i class="far fa-calendar-check confirmado_compras"></i>
                            <% } else if(compra.estadoProducto == "En proceso de envio") { %>
                                <i class="fas fa-truck envio_compras"></i>
                            <% } %>
                            </div>
                        </div>
                    </section>
                    <div class="flex_column botones_compras">
                        <a class="boton_compras" href="/productDetail/<%= compra.productoId.id %>  ">VER EL PRODUCTO</a>
                        <form action="/compras/agregarCarrito/<%= compra.productoId.id %>" id="formulario_carrito" method="POST">
                            <button type="submit" class="boton_compras">VOLVER A COMPRAR</button>
                        </form> 
                    </div>
                </article> 
            <% }) %>
        </div>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>
