<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <div class="contenedor">
        <%- include ("../includes/header") %>
        <main>
                <article class="detalles_remera_container">
                    <div class="principal">
                        <div id="derecha_detail">
                            <h2 class="none"> Musculosa Titular <%= product.equipos.equipo %> (<%= product.numeroCamiseta %>)</h2>
                            <img id="producto_principal" src="/uploads/<%= product.imagenFrente %>"  alt="Musculosa curry frente" class="producto_frente">
                            <div class="otras-img-container">
                                <img src="/uploads/<%= product.imagenFrente %>" alt="Mosculosa curry frente" class="frente" >
                                <img src="/uploads/<%= product.imagenEspalda %>" alt="Mosculosa curry espalda" class="espalda">
                            </div>
                        </div>
                        <div class="info-container">
                            <h2> Musculosa Titular <%= product.equipos.equipo %> (<%= product.numeroCamiseta %>)</h2>
                            <p class="precio">$<%= product.precio %></p>
                            <div class="seleccion-talla">
                                <label for="">Talle: </label>
                                <select name="talla">
                                    <% product.talles.forEach(element => { %>
                                    <option value="<%= element.abreviatura %>"><%= element.abreviatura %> </option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="flex_center">   
                                <a href="/productCart" class="carrito-buttom-detail">AGREGAR AL CARRITO</a>
                            </div>
                            <% product.descripción.forEach(element => { %>
                            <p class="otra-desc"> <%= element %>  </p>
                            <% }) %> 
                            <div class="flex">
                                <a href="/edit/<%= product.id %>" class="buton_edit destkop"> EDITAR</a>
                                <a href="" class="buton_delete destkop"> ELIMINAR</a>
                                <a href="/edit/<%= product.id %>" class="buton_edit celular"> <i class="fas fa-pencil-alt"></i></a>
                                <a href="" class="buton_delete celular"> <i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
        </main>
        <%- include ("../includes/footer") %>
    </div>
</body>
</html>

