<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <div class="contenedor">
        <%- include ("../includes/header") %>
        <main>
                <article class="detalles_remera_container">
                    <div class="principal">
                        <div id="derecha_detail">
                            <h2 class="none"> Musculosa <%= product.equipo %> (<%= product.numero_camiseta %>)</h2>
                            <img id="producto_principal" src="/uploads/<%= product.imagen_frente %>"  alt="Musculosa curry frente" class="producto_frente">
                            <div class="otras-img-container">
                                <img src="/uploads/<%= product.imagen_frente %>" alt="Mosculosa curry frente" class="frente" >
                                <img src="/uploads/<%= product.imagen_espalda %>" alt="Mosculosa curry espalda" class="espalda">
                            </div>
                        </div>
                        <div class="info-container">
                            <h2> Musculosa <%= product.equipo %> (<%= product.numero_camiseta %>)</h2>
                            <p class="precio">$<%= product.precio %></p>
                            <div class="seleccion-talla">
                                <label for="">Talle: </label>
                                <select name="talla">
                                    <% if (Array.isArray(product.Talle)) { %>
                                        <% product.Talle.forEach(element => { %>
                                            <option value="<%= element.abreviatura %>"><%= element.abreviatura %> </option>
                                            <% }) %>
                                    <% } else {%>
                                        <option value="<%= product.Talle.abreviatura %>"><%= product.Talle.abreviatura %> </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="flex_center">  
                                <form action="/compras/agregarCarrito/<%= product.id %> " id="formulario_carrito" method="POST">
                                    <button type="submit" class="carrito-buttom-detail">AGREGAR AL CARRITO</button>
                                </form> 
                            </div>
                            <p class="otra-desc"> <%= product.descripcion %>  </p>
                            <% if (locals.userLogged && locals.userLogged.admin) { %>
                            <div class="flex">
                                <a href="/edit/<%= product.id %>" class="buton_edit destkop"> EDITAR</a>
                                <form action="/delete/<%= product.id %>?_method=DELETE" method="post" class="buton_delete destkop">
                                    <input type="hidden" name="id" value="<%= product.id %>">
                                    <button type="submit" class="button_eliminar">ELIMINAR</button>
                                </form>
                                <a href="/edit/<%= product.id %>" class="buton_edit celular"> <i class="fas fa-pencil-alt"></i></a>
                                <form action="/delete<%= product.id %>?_method=DELETE" method="post" class="buton_delete celular">
                                    <input type="hidden" name="id" value="<%= product.id %>">
                                    <button type="submit" class="button_eliminar"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                            <% } %> 
                        </div>
                    </div>
                </article>
        </main>
        <%- include ("../includes/footer") %>
    </div>
</body>
</html>

