<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main id="main_tienda">
        <section id="background_home">
            <div id="p_home">
                <p id="title_background"> Las mejores camisetas<br>las encontras en</p>
                <p id="subtitle_background"> Alley-Oop</p>
            </div>
        </section>
        <section id="contenedor_indice">
            <div class="indice_camisetas margin_resposive">
                <span class="span_margin">Filtrar por:</span>
            </div>
        </section>
        <section id="contenedor_tienda">
            <div id="contenedor_filtros">
                <form  id= "contenedor_form_filtro" action="/filter" method="GET">
                    <fieldset class="contenedor_titulo_filtro">
                        <p class="titulo_filtro">Color</p>
                    </fieldset>
                    <fieldset class="contenedor_tipo_filtro">
                        <div>
                            <input type="checkbox" name="colores" value="1">
                            <label class="texto_color" for="colores">Azul</label>
                        </div>
                        <div>
                            <input type="checkbox" name="colores" value="2">
                            <label class="texto_color" for="colores">Rojo</label>
                        </div>
                        <div>
                            <input type="checkbox" name="colores" value="3">
                            <label class="texto_color" for="colores">Verde</label>
                        </div>
                        <div>
                            <input type="checkbox" name="colores" value="4">
                            <label class="texto_color" for="colores">Violeta</label>
                        </div>
                        <div>
                            <input type="checkbox" name="colores" value="5">
                            <label class="texto_color" for="colores">Negra</label>
                        </div>
                        <div>
                            <input type="checkbox" name="colores" value="6">
                            <label class="texto_color" for="colores">Amarillo</label>
                        </div>
                    </fieldset>
                    <input id="filtrar" type="submit" value="Filtrar">
                </form>
                    <!--
                    <fieldset class="contenedor_titulo_filtro">
                        <p class="titulo_filtro">Talle</p>
                    </fieldset>
                    <fieldset class="contenedor_tipo_filtro">
                        <div>
                            <input type="checkbox" name="colores">
                            <label class="texto_color" for="colores">S</label>
                        </div>
                        <div>
                            <input type="checkbox" name="colores">
                            <label class="texto_color" for="colores">M</label>
                        </div>
                        <div>
                            <input type="checkbox" name="colores">
                            <label class="texto_color" for="colores">L</label>
                        </div>
                        <div>
                            <input type="checkbox" name="colores">
                            <label class="texto_color" for="colores">XL</label>
                        </div>
                    </fieldset>
                </fieldset>
                
                <form action="/precio" method="GET">
                    <fieldset class="contenedor_titulo_filtro">
                        <p class="titulo_filtro">Precio</p>
                    </fieldset>
                    <fieldset class="contenedor_tipo_filtro">
                        <div>
                            <input type="checkbox" name="min" value="4500">
                            <label class="texto_color" for="min">Menor a $4.500</label>
                        </div>
                        <div>
                            <input type="checkbox" name="max" value="4500">
                            <label class="texto_color" for="max">Mayor a $4.500</label>
                        </div>
                    </fieldset>
                    <input type="submit" value="Filtrar por color">
                </form>
                -->
            </div>
            
            <div id="articulos_promocion">
                <% products.forEach(product => { %>
                
                    <article class="articulo_destacado">
                        <figure>
                            <img class="imagen_promocion" src="/uploads/<%= product.imagenFrente %>" alt="">
                        </figure>
                        <div class="precio_descuento">
                            <p class="precio">$<%= product.precio %> </p>
                            <p class="descuento"><%= product.descuento %>  % OFF</p>
                        </div>
                        <p class="descripcion">Camiseta <%= product.equipos.equipo %>  </p>
                        <p class="jugador"><%= product.jugador %> (<%= product.numeroCamiseta %>)</p>
                        <div class="boton_articulo">
                            <a class="boton-ver" href="/productDetail/<%= product.id %> " id=""><i class="fas fa-eye"></i>  Ver más</a>
                            <form action="/compras/agregarCarrito/<%= product.id %> " id="formulario_carrito" method="POST">
                                <button class="boton-compra"><i class="fas fa-cart-plus"></i>  Comprar</button>
                            </form>
                        </div>
                    </article>
                
                <% }) %>
            </div>
        </section>
  
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>

