<!DOCTYPE html>
<html lang="en">
    <%- include ("includes/head") %>
<body>
    <div class="contenedor">
        <%- include ("includes/header") %>
        <main>
                <article class="detalles_remera_container">
                    <div class="principal">
                        <img src="/<%= product.imagenFrente %>"  alt="Musculosa curry frente" class="producto_frente">
                        <div class="info-container">
                            <h2> Mosculosa Titular <%= product.equipos.equipo %> (<%= product.numeroCamiseta %>)</h2>
                            <p class="precio">$<%= product.precio %></p>
                            <div class="seleccion-talla">
                                <label for="">Talle: </label>
                                <select name="talla">
                                    <% product.talles.forEach(element => { %>
                                    <option value="<%= element.abreviatura %>"><%= element.abreviatura %> </option>
                                    <% }) %>
                                </select>
                            </div>
                            <a href="/productCart" class="carrito-buttom-detail">AGREGAR AL CARRITO</a>
                            <% product.descripción.forEach(element => { %>
                            <p class="otra-desc"> <%= element %>  </p>
                            <% }) %> 
                        </div>
                    </div>
                    <div class="otras-img-container">
                        <img src="/<%= product.imagenFrente %>" alt="Mosculosa curry frente" class="frente" >
                        <img src="/<%= product.imagenEspalda %>" alt="Mosculosa curry espalda" class="espalda">
                    </div>
                </article>
        </main>
        <%- include ("includes/footer") %>
    </div>
</body>
</html>

