<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main>
        <p class="titulo_principal">INFORMACION DE TU PERFIL:</p>
        <section class="content">
            <section class="lado_derecho">
                <article class="imagen">
                    <p class="title_img">Imagen de Perfil:</p>
                    <figure id="figure_profile">
                        <img src="/uploads/users/<%= user.image%>" alt="">
                    </figure>
                    <form id="delete_form" action="/user/avatarDefault?_method=PUT" method="POST">
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <button id="delete_foto" type="submit"><i class="fas fa-trash-alt"></i></button>
                    </form>
                    <form id="imagen_form" action="/user/avatar?_method=PUT" method="POST" enctype="multipart/form-data">
                        <fieldset id="fieldset_image">
                            <label for="">Cambiar imagen:</label>
                            <input type="file" name="image" id="image" class="border width">
                            <input type="hidden">
                            <% if (locals.errors && errors.image) { %>
                                <p class="error"> 
                                    <%= errors.image.msg %>
                                </p>
                            <% } %>
                        </fieldset>
                        <button id="send_foto" type="submit">Save</button>
                    </form>
                </article>
            </section>
            <form  action="/user/update?_method=PUT" method="POST">
                <p class="title_img">Editar información de Perfil:</p>
                <section class="formularios">
                    <fieldset>
                        <label for="firstName" class="titulo">Nombre:</label>
                        <input type="text" name="firstName" id="firstName" value="<%= locals.oldData ? oldData.firstName : user.firstName %>" class="border width">
                        <% if (locals.errors && errors.firstName) { %>
                            <p class="error"> 
                                <%= errors.firstName.msg %> 
                            </p>
                        <% } %>
                    </fieldset>
                    <fieldset>
                        <label for="lastName" class="titulo">Apellido:</label>
                        <input type="text" name="lastName" id="lastName" value="<%= locals.oldData ? oldData.lastName : user.lastName %>" class="border width">
                        <% if (locals.errors && errors.lastName) { %>
                            <p class="error"> 
                                <%= errors.lastName.msg %> 
                            </p>
                        <% } %>
                    </fieldset>
                    <fieldset>
                        <label for="email" class="titulo">Correo:</label>
                        <input type="text" name="email" id="email" value="<%= locals.oldData ? oldData.email : user.email %>" class="border width">
                        <% if (locals.errors && errors.email) { %>
                            <p class="error"> 
                                <%= errors.email.msg %> 
                            </p>
                        <% } %>
                    </fieldset>
                    <fieldset id="button_flex" class="submit_fieldset">
                        <button type="submit" id="submit">Send</button>
                    </fieldset>
                </section>
            </form>
            <form  action="/user/update?_method=PUT" method="POST">
                <p class="title_img">Editar tu contraseña:</p>
                <section class="formularios">
                    <fieldset>
                        <label for="password" class="titulo">Cambiar contraseña:</label>
                        <input type="password" name="password" id="password" value="" class="border width">
                        <% if (locals.errors && errors.password) { %>
                            <p class="error"> 
                                <%= errors.password.msg %> 
                            </p>
                        <% } %>
                    </fieldset>
                    <fieldset id="button_flex" class="submit_fieldset">
                        <button type="submit" id="submit">Send</button>
                    </fieldset>
                </section>
            </form>
        </section>
        <form action="/user/logout" method="GET" class="formulario_logout">
            <button type="submit" class="Buton-logout">
                DESLOGUEATE DE TU CUENTA
            </button>
        </form>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>