<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main>
        <section id="section_login">
            <div class="register">
                <img src="/images/alley-oop-logo_fondoBlanco.png" alt="" width="300px">
                <p class="title_login">Registrate:</p>
                <div class="a_login_register">
                    <a class="menu_user border inactive" href="/user/login"> LOG-IN</a>
                    <a class="menu_user active" href="/user/register"> REGISTRATE</a>
                </div>

                <form  method="POST" class="form_register" action="/user/register" enctype="multipart/form-data">
                    <div class="flex">
                        <div class="flex_column"><input type="text" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>"  placeholder="Correo electronico">
                            <% if (locals.errors && errors.email) { %>
                                <p class="error"> 
                                    <%= errors.email.msg %> 
                                </p>
                            <% } %>
                        </div>
                        <div class="flex_column"><input type="text" name="userName" id="userName" value="<%= locals.oldData ? oldData.userName : null %>" placeholder="Elegi un nombre de usuario">
                            <% if (locals.errors && errors.userName) { %>
                                <p class="error"> 
                                    <%= errors.userName.msg %> 
                                </p>
                            <% } %>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex_column"><input type="text" name="firstName" id="firstName" value="<%= locals.oldData ? oldData.firstName : null %>" placeholder="Nombre">
                                <% if (locals.errors && errors.firstName) { %>
                                    <p class="error"> 
                                        <%= errors.firstName.msg %> 
                                    </p>
                                <% } %>
                        </div>
                        <div class="flex_column"><input type="text" name="lastName" id="lastName" value="<%= locals.oldData ? oldData.lastName : null %>" placeholder="Apellido">
                            <% if (locals.errors && errors.lastName) { %>
                                <p class="error"> 
                                    <%= errors.lastName.msg %> 
                                </p>
                            <% } %>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex_column"><input type="password" name="password" id="password" placeholder="Escribi tu contaseña">
                            <% if (locals.errors && errors.password) { %>
                                <p class="error"> 
                                    <%= errors.password.msg %> 
                                </p>
                            <% } %>
                        </div>
                        <div class="flex_column">
                            <input type="file" name="image">
                        </div>
                    </div>
                    
                    <button class="button_login" type="submit"> Registrate</button>
                    <p class="login_href">Ya tenes cuenta, <a href="/user/login">INGRESA</a></p>
                </form>
            </div>
        </section>
    </main>
</body>
</html>