<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main>
        <section id="volver">
            <i class="fas fa-chevron-left"></i><a id="section_a" href="/">Continuar comprando</a>
        </section>
        <section id="contenedor-carrito">
            <p id="titular-carrito">Carrito de compras</p>
            <form  id= "contenedor-form" action="/productCart" method="POST">
                <fieldset class="contenedor-item">
                    <p id="titulo">1. REVISA TU PEDIDO</p>
                </fieldset>
                <fieldset class="contenedor-item-delete">
                    <i class="fas fa-times"></i>  
                </fieldset>
                <fieldset class="contenedor-item-foto">
                    <img class="imagen_promocion" src="/uploads/<%= user.compras.imagenFrente %>" alt="">
                    <div class="contenedor-propiedades-articulo">
                        <p class="titulo-producto">Camiseta <%= user.compras.equipos %> </p>
                        <div>
                            <p class="subtitulo-articulo">Color: <%= user.compras.color %></p>
                            <p class="subtitulo-articulo">Equipo: <%= user.compras.equipos %></p>
                        </div>
                        <div class="contenedor-cantidad">
                            <label class="subtitulo-articulo" for="cantidad">Cantidad:</label>
                            <select class="caja select-cantidad" name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <p class="precio">ARS <%= user.compras.precio %></p>
                    </div>
                </fieldset>
                
                <fieldset class="contenedor-item">
                    <input type="hidden" name="id" value="<%= user.compras.camiseta_id %>">
                    <input type="hidden" name="precio" value="<%= user.compras.precio %>">
                    <button type="submit"  class="boton-compra">IR A DIRECCIÓN DE ENVÍO</button>
                </fieldset>
            </form>
        </section>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>