<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main>
        <section id="volver">
            <i class="fas fa-chevron-left"></i><a id="section_a" href="/compras/productCartDos">Volver</a>
        </section>
        <section id="contenedor-carrito">
            <p id="titular-carrito">Carrito de compras</p>
            <form  id= "contenedor-form" action="/compras/productCartTres?_method=PUT" method="POST">
                <fieldset class="contenedor-item">
                    <p id="titulo">3. TIPO DE PAGO Y RESUMEN DE PEDIDO</p>
                </fieldset>
                <fieldset class="contenedor-item-pago">
                    <legend class="titulo-input">Pagar con:</legend>
                    <div class= "flex_column">
                    <div class= "flex">
                        <div>
                            <input type="radio" name="metododepago" value="credito" id="credito">
                            <label class= "titulo-input" for="credito">Crédito</label>
                        
                        </div>
                        <div>
                            <input type="radio" name="metododepago" value="debito" id="debito">
                            <label class= "titulo-input" for="debito">Débito</label>
                        </div>
                    </div>
                    <% if (locals.errors && errors.metododepago) { %>
                        <p class="error"> 
                            <%= errors.metododepago.msg %> 
                        </p>
                    <% } %>
                </div>
                        
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input" for="numerotarjeta">Numero de tarjeta</label>
                    <input class="caja" type="number" placeholder="xxxx xxxx xxxx xxxx" name="numerotarjeta" id="numerotarjeta">
                    <% if (locals.errors && errors.numerotarjeta) { %>
                        <p class="error"> 
                            <%= errors.numerotarjeta.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input" for="vencimiento">Fecha de vencimiento*</label>
                    <input class="caja" type="date" min="2021-08-01" max="2031-08-01" name="vencimiento" id="vencimiento">
                    <% if (locals.errors && errors.vencimiento) { %>
                        <p class="error"> 
                            <%= errors.vencimiento.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input"for="cvv">CVV (3 digitos)</label>
                    <input class="caja" placeholder="xxx" type="password" name="cvv" id="cvv">
                    <% if (locals.errors && errors.cvv) { %>
                        <p class="error"> 
                            <%= errors.cvv.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <div class="resumen">
                    <p class="titulo-input">Resumen del pedido</p>
                    <div class="resumen-articulos">
                        <p class="subtitulo-articulo"><%= compras.cantidad %>  x <%= compras.productoId.equipos.equipo %></p>
                        <p class="precio_articulo">ARS $<%= compras.precio %></p>
                    </div>
                </div>
                <div id="contenedor-subtotal">
                    <p class="subtotal">Total</p>
                    <p class="subtotal">ARS $<%= compras.PrecioTotal %></p>
                </div>
                <fieldset id="contenedor-newsletter">
                    <input type="checkbox" name="newsletter" checked>
                    <label for="newsletter">¡Sí, quiero recibir información sobre nuevos lanzamientos y ofertas!</label>
                </fieldset>
                <fieldset class="contenedor-item">
                    <input type="hidden" name="id" value="<%= compras.id %> ">
                    <button type="submit" class="boton-compra">PAGAR</button>
                </fieldset>
            </form>
        </section>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>
