<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main>
        <section id="volver">
            <i class="fas fa-chevron-left"></i><a id="section_a" href="/compras/productCart">Volver</a>
        </section>
        <section id="contenedor-carrito">
            <p id="titular-carrito">Carrito de compras</p>
            <form id= "contenedor-form" action="/compras/productCartDosVieja?_method=PUT" method="POST">
                <p id="titulo-envio" class="margin-bottom">2. SELECCIONAR UNA <span class="strong"> DIRECCION YA UTILIZADA</span></p>
                <label class="titulo-input" for="codigopostal">Elegir Direccion</label>
                <select class="caja margin-bottom" name="direccion" id="direccion"> 
                <% direcciones.forEach(direccion => { %>
                        <option value="<%= direccion.id %>">Direccion: <%= direccion.direccion%>-<%= direccion.provincia%>(<%= direccion.codigo_postal %>)</option>
                <% }) %>
                </select>
                <fieldset class="contenedor-item">
                    <button type="submit" class="boton-compra">IR A MÉTODO DE PAGO</button>
                </fieldset>
            </form>
            <form  id= "contenedor-form" action="/compras/productCartDos?_method=PUT" method="POST">
                <fieldset class="contenedor-item">
                    <p id="titulo-envio">2. DIRECCIÓN DE ENVÍO <span class="strong"> NUEVA</span></p>
                    <p id="subtitulo">Todos los datos son obligatorios</p>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input"for="telefono">Teléfono*</label>
                    <input class="caja" type="tel" name="telefono" id="telefono" value="<%= locals.oldData ? oldData.telefono : null %>">
                    <% if (locals.errors && errors.telefono) { %>
                        <p class="error"> 
                            <%= errors.telefono.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input"for="direccion">Dirección de envío*</label>
                    <input class="caja" type="text" name="direccion" id="direccion" placeholder="p. ej. Calle Scottie Pippen 1996" value="<%= locals.oldData ? oldData.direccion : null %>">
                    <% if (locals.errors && errors.direccion) { %>
                        <p class="error"> 
                            <%= errors.direccion.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input" for="localidad">Localidad*</label>
                    <input class="caja" type="text" name="localidad" id="localidad" value="<%= locals.oldData ? oldData.localidad : null %>">
                    <% if (locals.errors && errors.localidad) { %>
                        <p class="error"> 
                            <%= errors.localidad.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input" for="provincia">Provincia*</label>
                    <select class="caja" name="provincia" id="provincia">
                        <option value="" selected>Elegí tu provincia</option>
                        <% 
                            let provincias = ['Buenos Aires', 'Corrientes', 'Córdoba','Catamarca', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fé', 'Santiago del Estero', 'Tierra del Fuego, Antártida e islas del Atlántico Sur', 'Tucumán', 'Chaco', 'Chubut' ];
                        %> 
                        <% for (const oneProvincia of provincias) { %>
                            <option
                                value="<%= oneProvincia %>"
                                <%= locals.oldData && (oneProvincia === oldData.provincia) ? 'selected' : null %>
                            > <%= oneProvincia %> 
                            </option>
                            <% } %>
                    </select>
                    <% if (locals.errors && errors.provincia) { %>
                        <p class="error"> 
                            <%= errors.provincia.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input" for="codigopostal">Código Postal*</label>
                    <input class="caja" type="text" name="codigopostal" id="codigopostal" value="<%= locals.oldData ? oldData.codigopostal : null %>">
                    <% if (locals.errors && errors.codigopostal) { %>
                        <p class="error"> 
                            <%= errors.codigopostal.msg %> 
                        </p>
                    <% } %>
                </fieldset>
                <fieldset class="contenedor-item">
                    <button type="submit" class="boton-compra">AÑIDIR UNA NUEVA DIRECCION(DESPUES DEBES SELECCIONARLA ARRIBA)</button>
                </fieldset>
            </form>
        </section>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>

