<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main id="main_tienda">
        <p id="title_admin">ADMINISTRAR VENTAS:</p>
        <div class="a_menu_ventas">
            <a class="menu_user active_process" href="/admin/ventas"> <p>EN PROCESO </p><i class="fas fa-truck"></i></a>
            <a class="menu_user finish" href="/admin/ventasFinalizadas"> <p>FINALIZADOS </p><i class="fas fa-check"></i></a>
            <a class="menu_user cancel" href="/admin/ventasCanceladas"> <p> CANCELADOS </p><i class="fas fa-times"></i></a>
        </div>
        <div id="articulos_promocion">
            <% compras.forEach(compra => { %>
                <% if (compra.estado_producto == 3 || compra.estado_producto == 4) { %>
                <article class="articulo_destacado">
                    <section class="flex">
                        <a href="/productDetail/<%= compra.product_id %> ">
                            <figure id="figure_ventas">
                                <img class="imagen_promocion" src="/uploads/<%= compra.product.imagen_frente %>" alt="">
                            </figure>
                        </a>
                        <div id="contenedor_descripciones">
                            <p class="descripcion"><span>Camiseta: </span> <%= compra.product.jugador %>-<%= compra.product.equipo %></p>
                            <p class="descripcion"><span>Precio: </span> $<%= compra.PrecioTotal %>(Cant. de camisetas: <%= compra.cantidad %>) </p>
                            <p class="descripcion"><span>Cliente: </span> <%= compra.User.first_name %> <%= compra.User.last_name %> </p>
                            <p class="descripcion"><span>Forma de pago: </span> <%= compra.metodo.metodo_de_pago %></p>
                            <p class="descripcion"><span>Direccion: </span> <%= compra.entrega.direccion %>-<%= compra.entrega.localidad %>(CP: <%= compra.entrega.codigopostal %>)</p>
                            <% if (compra.estado_producto == 3) { %>
                                <p class="descripcion"><span>Estado: </span>Completado</p>
                            <% } %>
                            <% if (compra.estado_producto == 4) { %>
                                <p class="descripcion"><span>Estado: </span>En proceso de envio</p>
                            <% } %>
                        </div>
                    </section>
                    <div class="flex_column">
                        <form action="/admin/cambiarStatus/<%= compra.id %>?_method=PUT" method="POST" class="flex_column">
                            <select name="estadoProducto" id="select">
                                <% if (compra.estado_producto == 3) { %>
                                    <option value="3" selected>Confirmado</option>
                                    <option value="4">En proceso de envio</option>
                                <% } else if(compra.estado_producto == 4) { %>
                                    <option value="3">Confirmado</option>
                                    <option value="4" selected>En proceso de envio</option>
                                <% } %>
                                <option value="9">Cancelado</option>
                                <option value="10">Finalizado</option>
                            </select>
                            <button type="submit" id="enviar_estado">Enviar</button>
                        </form>
                    </div>
                </article>
                <% } %>  
            <% }) %>
        </div>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>
