<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main id="main_tienda">
        <p id="title_admin">ADMINISTRAR VENTAS:</p>
        <div class="a_menu_ventas">
            <a class="menu_user status" href="/admin/ventas"> <p>EN PROCESO </p><i class="fas fa-truck"></i></a>
            <a class="menu_user finish" href="/admin/ventasFinalizadas"> <p>FINALIZADOS </p><i class="fas fa-check"></i></a>
            <a class="menu_user cancel active_cancel" href="/admin/ventasCanceladas"> <p> CANCELADOS </p><i class="fas fa-times"></i></a>
        </div>
        <div id="articulos_promocion">
            <% compras.forEach(compra => { %>
                <% if (compra.estado_producto == 9) { %>
                    <article class="articulo_destacado">
                        <section class="flex">
                            <a href="/productDetail/<%=  compra.product_id %> ">
                                <figure id="figure_ventas">
                                    <img class="imagen_promocion" src="/uploads/<%= compra.product.imagen_frente %>" alt="">
                                </figure>
                            </a>
                            <div id="contenedor_descripciones">
                                <p class="descripcion"><span>Camiseta: </span> <%= compra.product.jugador %>-<%= compra.product.equipo %></p>
                                <p class="descripcion"><span>Precio: </span> $<%= compra.precio_total %>(Cant. de camisetas: <%= compra.cantidad %>) </p>
                                <p class="descripcion"><span>Cliente: </span> <%= compra.User.first_name %> <%= compra.User.last_name %> </p>
                                <p class="descripcion"><span>Forma de pago: </span> <%= compra.metodo.metodo_de_pago %></p>
                                <p class="descripcion"><span>Direccion: </span> <%= compra.entrega.direccion %>-<%= compra.entrega.localidad %></p>
                                <p class="descripcion"><span>Estado: </span> Cancelado</p>
                                
                            </div>
                        </section>
                        <div class="flex_column center">
                            <p class="titulo_cancelado">El estado de la ventas es: <span> Cancelado </span></p>
                            <i class="fas fa-times cruz_cancelada"> </i>
                        </div>
                    </article>
                <% } %>  
            <% }) %>
        </div>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>
