<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main id="main_tienda">
        <p id="title_admin">ADMINISTRAR PRODUCTOS:</p>
        <div class="a_menu_ventas">
            <a class="menu_user status" href="/admin/ventas"> <p>EN PROCESO </p><i class="fas fa-truck"></i></a>
            <a class="menu_user finish" href="/admin/ventasFinalizadas"> <p>FINALIZADOS </p><i class="fas fa-check"></i></a>
            <a class="menu_user cancel active_cancel" href="/admin/ventasCanceladas"> <p> CANCELADOS </p><i class="fas fa-times"></i></a>
        </div>
        <div id="articulos_promocion">
            <% compras.forEach(compra => { %>
                <% if (compra.estadoProducto == "Cancelado") { %>
                <article class="articulo_destacado article_cancelado">
                    <p class="titulo_cancel_finish"> Camiseta: <%= compra.productoId.jugador %> - <%= compra.productoId.equipos.equipo %> </p>
                    <div>
                        <p class="descripcion"><span>Venta total:</span> $<%= compra.PrecioTotal %> </p>
                        <p class="descripcion"><span>Cliente:</span> <%= compra.nombre %> <%= compra.apellido %> </p>
                        <p class="descripcion"><span>Forma de pago:</span> <%= compra.metododepago %></p>
                        <p class="descripcion"><span>Direccion:</span> <%= compra.direccion %></p>
                        <p class="descripcion"><span>localidad:</span> <%= compra.localidad %></p>
                        <p class="descripcion"><span>Codigo postal:</span> <%= compra.codigopostal %></p>
                    </div>
                    <div class="flex_column center">
                        <p class="titulo_cancelado">El estado de la ventas es: <span> <%= compra.estadoProducto %> </span></p>
                        <i class="fas fa-times cruz_cancelada"> </i>
                    </div>
                </article>
                <% } %>  
            <% }) %>
        </div>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>
